 *{
    margin: 0;
    padding: 0;
    font-family: 'poppins', 'sans-serif';
    box-sizing: border-box;
}

body{
    background-color: #fff;
    color: #000;
}
#header{
    background: #282240;
    width: 100%;
    height: 113vh;
    background-image: url(images/Robot.png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}

:root{
    scroll-behavior: smooth;
}
 /* ====navbar---- */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgb(40, 34, 64);
    /* background: #282240; */
    /* flex-wrap: wrap; */
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 7%;
    border-bottom: 1px solid #282230;
}
.logo{
    width: 140px;
}

.bg{
    position: relative;
}
.header-text{
    margin-top: 5%;
    font-size: 30px;
}
.header-text h1{
    color: #E27228;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.header-text h2{
    color: #000;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-text p{
    color: gray;
    font-size: 24px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
}
.header-bg{
    width: 100px;
    height: 50px;
    background-image: url(images/13.png);
    background-size: cover;
    background-position: right;
}
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    height: 50vh;
    border-radius: 5%;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-tittle{
    font-size: 60px;
    font-weight: 600;
    color: #000;
}
.tab-tittles{
    display: flex;
    margin: 20px 0 40px;   
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;align-self: auto;
    background: #0092FF;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #0092ff;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
-----------------service-------------
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #0092FF;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 100px;
    margin-bottom: 30px;
    align-items: center;
}
.services-list div i h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
     background: #282230;
     transform: translateY(-10px);
}
 .sub{
    color: #0092FF;
 }
/* ======portofolio------ */
#portofolio{
    padding: 50px 0;

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10%;
    display: block;
}

/* ===========foootter--------- */
#Contact{
    position: fixed;
  left: 0;
  bottom: 0;
    width: 100%;
  text-align: center;
    background-color: #282240;
}

.contact-left{
    flex-basis: 35%;
} 
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #0092FF;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
     margin-right: 15px;
     color: #ababab;
     display: inline-block;
     transition: transform 0.5s;
}
.social-icons a:hover{
    color: #0092FF;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #fff;
    border: 1px solid rgb(61, 106, 255);
    padding: 15px;
    margin: 15px 0;
    color: #000;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}
footer {
    background-color: #282240;
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

/* button===== */
.button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #000;
    margin-top: 20px;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
.button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
.button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
.button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
.button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }



/* #282240 biru */
/* #0092FF blue */
/* #FFFFFF white */
/* #E27228 orange */